.select-wrapper {
    width: 100px;
    position: relative;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.select-ul {
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
}

.select-li{
    cursor: pointer;
}

.select-li:hover {
    background-color: rgba(0, 0, 0, 0.33);
}

.select-current {
    cursor: pointer;
    border-bottom: 1px solid black;
}
